# Dependencies
node_modules/

# Next.js
.next/
out/

# Build folders
dist/
build/

# Environment variables
.env
.env.local

# Logs
*.log

# Cache
.cache/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db